<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }} - Advancing Accessibility</title>
		<meta property="og:title" content="{{ page.title }}"/>
		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:description" content="{{ page.description }}"/>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:image" content="{{ page.ogimage }}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
			<a href="#maincontent" class="skiptomain">Skip to main content</a>
		<nav>			
			<ul>
				<li><a href="/">Advancing Accessibility</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/tools">Tools</a></li>
				<!-- <li><a href="/blog">Blog</a></li> -->
			</ul>
		</nav>
		<main class="container" id="maincontent">
		
		{{ content }}
		
		</main><!-- /.container -->
		<footer>
			<ul>
				<li><a href="https://twitter.com/JLukosky?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @JLukosky</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
			</ul>
		</footer>
	</body>
</html>
